---
# Basic server setup.
- hosts: all
  remote_user: root
  roles:
    - { role: 'system_common' }

- hosts: all
  remote_user: dvps
  sudo: true
  roles:
    - { role: 'nginx', tags: ['nginx']  }
    - { role: 'nodejs' }
    - { role: 'redis', tags: ['redis'] }
    - { role: 'postgresql', tags: ['postgres'] }

# apps user environment.
- hosts: all
  remote_user: dvps
  sudo: true
  sudo_user: '{{apps_user}}'
  roles:
    - { role: 'rbenv' }
    - { role: 'eye', tags: ['eye'] }
