youtrack:
  image: docker.io/uniplug/youtrack
  volumes:
   - {{ docker_data_path }}/{{ youtrack_dir }}/data:/opt/youtrack/data
   - {{ docker_data_path }}/{{ youtrack_dir }}/backup:/opt/youtrack/backup
  ports:
    - "{{ youtrack_local_port }}:80"