{{app_stage}}:
  secret_key_base: '{{secret_key_base}}'
  airbrake_api_key: '{{airbrake_api_key}}'
  aws:
    access_key_id: '{{aws_access_key_id}}'
    secret_key: '{{aws_secret_key}}'
  mws:
    seller_id: '{{mws_seller_id}}'
    marketplace_id: '{{mws_marketplace_id}}'
    dev_account_number: '{{mws_dev_account_number}}'
    access_key_id: '{{mws_access_key_id}}'
    secret_key: '{{mws_secret_key}}'
  ses:
    smtp_username: '{{smtp_username}}'
    smtp_password: '{{smtp_password}}'
    smtp_server: '{{smtp_server}}'
    smtp_port: '{{smtp_port}}'
  mandrill:
    api_key: '{{mandrill_api_key}}'
